@import '@fontsource/montserrat/400.css';
@import '@fontsource/montserrat/600.css';
@import '@fontsource/montserrat/800.css';
@import '@fontsource/roboto-mono/400.css';
@import '@fontsource/roboto-mono/500.css';

:root {
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #111111;
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center; /* Vite default center, maybe remove? */
  min-width: 320px;
  min-height: 100vh;
}

/* Reset layout */
#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
